* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

.AMT {
  display: flex;
  justify-Content: center;
  align-Items: center;
  color: white;
}

.muayt-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.muayt {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 500px;
  width: 800px;
}

.priceimg {
  height: 150px;
  width: 400px;
  margin-bottom: 20px;
}

.price {
  padding-top: 10px;
  padding-bottom: 1cm;
  text-align: center;
  margin-left: 7cm;
  margin-right: 7cm;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.SMT {
  text-align: center;
  color: white;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
  box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
  box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
  box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
  box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
  box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
  box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
  box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
  background-color: #02c2c7
}

.bg-orange {
  background-color: #e95601
}

.bg-green {
  background-color: #5bbd2a
}

.bg-yellow {
  background-color: #f0d001
}

.bg-pink {
  background-color: #ff48a4
}

.bg-purple {
  background-color: #9d60ff
}

.bg-lightred {
  background-color: #ff5722
}

.padding-15px-lr {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-5px-tb {
  padding-top: 5px;
  padding-bottom: 5px;
}

.margin-10px-bottom {
  margin-bottom: 10px;
}

.border-radius-5 {
  border-radius: 5px;
}

.margin-10px-top {
  margin-top: 10px;
}

.font-size14 {
  font-size: 14px;
}

.text-light-gray {
  color: #d6d5d5;
}

.font-size13 {
  font-size: 13px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}